<h3 class="col-10 mx3 pb1 pt1">Share Page</h3>
<div class="ampstart-social-box col-10 mx3 pb1 pt1">
  <amp-social-share type="twitter" aria-label="Share this on Twitter"></amp-social-share>
  <amp-social-share type="facebook" data-param-text="Cloud Radix" data-param-href="https://cloudradix.com" data-param-app_id="1897100060316489" aria-label="Share this on Facebook"></amp-social-share>
  <amp-social-share type="gplus" aria-label="Share this on Google Plus"></amp-social-share>
  <amp-social-share type="pinterest" aria-label="Share this on pintrest"></amp-social-share>
</div>