  <!-- Start Navbar -->
  <header class="ampstart-headerbar fixed flex justify-start items-center top-0 left-0 right-0 pl2 pr4 ">
    <div role="button" aria-label="open sidebar" on="tap:header-sidebar.toggle" tabindex="0" class="ampstart-navbar-trigger md-hide lg-hide pr2  ">☰
    </div>
      <a href="/" class="text-decoration-none inline-block mx-auto ampstart-headerbar-home-link  ">
        <amp-img src="/logo-full.svg" width="200" height="50" layout="fixed" class="my0 mx-auto " alt="Cloud Radix Logo"></amp-img>
      </a>
    <nav class="ampstart-headerbar-nav ampstart-nav xs-hide sm-hide">
      <ul class="list-reset center m0 p0 flex justify-center nowrap">
          <li class="ampstart-nav-item "><a href="../#web-design-solutions" class="text-decoration-none block">Solutions</a></li>
          <li class="ampstart-nav-item "><a href="../#case-studies" class="text-decoration-none block">Case Studies</a></li>
          <li class="ampstart-nav-item "><a href="/get-started" class="text-decoration-none block">Get Started</a></li>
      </ul>
    </nav>
  </header>

<!-- Start Sidebar -->
<amp-sidebar id="header-sidebar" class="ampstart-sidebar px3 md-hide lg-hide " layout="nodisplay">
  <div class="flex justify-start items-center ampstart-sidebar-header">
    <div role="button" aria-label="close sidebar" on="tap:header-sidebar.toggle" tabindex="0" class="ampstart-navbar-trigger items-start">✕</div>
  </div>
  <nav class="ampstart-sidebar-nav ampstart-nav">
    <ul class="list-reset m0 p0 ampstart-label">
        <br>
          <li class="ampstart-nav-item "><a class="ampstart-nav-link" href="../#web-design-solutions">Solutions</a></li>
          <li class="ampstart-nav-item "><a class="ampstart-nav-link" href="../#case-studies">Case Studies</a></li>
          <li class="ampstart-nav-item "><a class="ampstart-nav-link" href="/get-started">Get Started</a></li>
          <li class="ampstart-nav-item "></li>
    </ul>
  </nav>

</amp-sidebar>
<!-- End Sidebar -->
  <!-- End Navbar -->